
.brand {
    position: relative;
    left: 50%;
    margin-left: -50px !important;  /* 50% of your logo width */
    display: block;
}
#log{
    align-content: center;
    font-weight: 600;
}
.border{
    padding-top: 15%;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 15px;
    background-color: white;
}

.home{
    background-image: url(./images/home-backgroung.jpg);
}
.btn{
    padding: 10px;
    margin: 10px;
    margin-left: 0%;
}

.user-main{
    height: 100%;
    width: 100%;
    background-color: #fafafa;
}
.post{
    display: flex;
    flex-direction: column;
    box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
    padding: 10px;
}
.post-title{
    display: flex;
    padding: 10px;
    
}

.post-profile-pic{
    width: 10%;
    height: auto;
    border-radius: 50%;
}
.post-content-pic{
    width: 100%;
}

.post-likebar{
    display: flex;
}

.post-like-pic{
    width: 6%;
    height: 6%;
    border-radius: 50%;
}