
.brand {
    position: relative;
    left: 50%;
    margin-left: -50px !important;  /* 50% of your logo width */
    display: block;
}
#log{
    align-content: center;
    font-weight: 600;
}
.border{
    padding-top: 15%;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 15px;
    background-color: white;
}

.home{
    background-image: url(./images/home-backgroung.jpg);
}
.btn{
    padding: 10px;
    margin: 10px;
    margin-left: 0%;
}

.user-main{
    height: 100%;
    width: 100%;
    background-color: #fafafa;
}
.posts{
    border:5px;
    background-color: aqua;
}

